* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: 0
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif
}

h1 {
    margin: 0 auto;
    display: table;
    font-size: 26px;
    padding: 40px 0;
    color: #002e5b;
    text-align: center
}

header {
    width: 100%;
    display: table;
    margin-bottom: 50px
}

#logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #002e5b;
    font-weight: 600;
    padding: 20px 0
}

nav {
    width: auto;
    float: right
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0
    }

    #logo {
        padding: 0
    }

    nav {
        display: none;
        position: absolute;
        right: 0;
        top: 53px;
        background-color: #002e5b;
        padding: 0;
        z-index: 99
    }
}

@media only screen and (max-width: 568px) {
    h1 {
        padding: 25px 0
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px
    }

    #logo {
        font-size: 20px
    }

    nav {
        top: 47px
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        padding: 20px 0
    }
}