* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic
}

header {
    background-image: url(../assets/images/bg1.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center
}

h1 {
    color: #000
}

.logo img {
    float: left;
    width: 200px;
    height: auto
}

.admin {
    max-width: 1200px;
    margin: auto
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.title {
    color: #fff;
    font-size: 30px
}